/* src/components/Skills.css */
#skills {
    background-color: rgb(103, 13, 96);
    padding: 50px 20px;
    text-align: center;
  }
  
  #skills h2 {
    color: black  ;
    font-size: 3.5rem;
    margin-bottom: 40px;
  }
  
  #skills ul {
    list-style: none;
    padding: 0;
  }
  
  #skills ul li {
    display: inline-block;
    margin: 10px 15px;
    padding: 10px 20px;
    background-color: #b88c8c;
    color:black;
    border-radius: 20px;
    font-size: 1rem;
  }
  